/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/parte-viajero
/public/parte-viajero-tmp
/storage/*.key
/storage/tmp
/vendor
.env
.env.backup
.env.production
*.sh
Homestead.json
Homestead.yaml
auth.json
*.zip
storage/media-library/
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
error_log
/storage/app/
/storage/logs/
/error_log
git-deploy.sh
/storage/media-library/
